/*child snitch*/
$backgroundcolor: #f9f9f9;
$backgroundcolor-initial:#ccc;
$initial: #a1a1a1;
$highlighted: black;
$basic_margin:5%;
$backNavColor: transparent;


$linescolor:rgba(0, 0, 0, .2);

@mixin main_font_styles() {
    font-family: "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica, Arial,
    "Lucida Grande",
    sans-serif;
    font-weight: 300;
    line-height: auto;
    margin: 0; padding: 0;
    opacity: 1;
    border:none;
    text-decoration: none;
    color: $initial; font-size: small;
    @media screen and (min-width: 38.75em){ color: aqua; font-size: small; }
    @media screen and (min-width: 46.25em){ color: purple; font-size: small; }
    @media screen and (min-width: 55em){ color: blue; font-size: small; }
    @media screen and (min-width: 59.6875em){ color: pink; font-size: small; }
    @media screen and (min-width: 68.75em){ color: orange; font-size: small; }
    @media screen and (min-width: 77.5em){ color: $initial; font-size: small; }
}

@mixin boxed_text() {
    span,a{
        color: $initial;
        padding: 0.3em .6em ;
        border-radius: .3em;
    }
    a{ border: 1px solid $backgroundcolor-initial; }
    span.current{ background-color: $highlighted; font-weight: 300; }
    a:hover{ border-color: $highlighted; color: $highlighted; }
}
@mixin boxed_text_b() {
    span,a{
        color: $initial;
        padding: 0.2em 0.5em ;
    }
    a{ background-color: transparent; }
    span.current{ border-bottom: 1px solid $highlighted; font-weight: 300; }
    a:hover{ border-bottom: 1px solid $highlighted; text-decoration: none; border-bottom: none; }
}
@mixin current_item() {
    color: $highlighted;
    text-decoration: underline;
}
@mixin reset_media_queries() {
    body{
        #page{
            nav.navigation.pagination{
                    margin:0;
                    .nav-links{ min-height: 0;}
                    .page-numbers{
                        line-height: inherit;
                        padding: 0;
                    }
                }
            #content.site-content{
                width: 100%; max-width: none;
                margin: 0 auto;
                text-align: center;
                #primary.content-area,.navigation,.single-navigation{
                    //background-color: green;
                    text-align: center;
                    margin: 0 auto;
                    width: 1400px;
                    padding-left: 450px;
                    main{
                        background-color: red;
                        //text-align: center;
                        //margin-left: 250px;
                        //width:  500px;
                        article.hentry{
                            float:left;
                            img, .entry-header{
                                float:left;
                            }
                            .entry-header{
                                padding: 0;
                                margin: 0;
                            }
                            text-align: left;
                            background: transparent;
                            box-shadow: none;

                        }    
                    }
                    
                }
                
                article.hentry{ margin: 0;
                 //box-shadow: none;
             }
                .hentry + .hentry { margin-top: 0; }
            }
            .site-footer{ box-shadow: none; }
        }
        
        *{box-shadow: none;}
        line-height: auto;
        
        
    }

}

::placeholder{} /* Chrome, Firefox, Opera, Safari 10.1+ */
:-ms-input-placeholder{} /* Internet Explorer 10-11 */
::-ms-input-placeholder{}  /* Microsoft Edge */
/*
#menu-menu_social,
.post_tags,
.wp-tag-cloud li a,
.posted-on, .byline,.tags-links,.cat-links,.comments-link, .site-info,
.entry-content p,
.widget input,
.main-navigation .nav-menu a,
.pagination .nav-links,
.entry-title, h1.entry-title,
.page-title,
.site-title,
div.textwidget,
*/

html,::placeholder, body, div, span, applet, object, iframe, h1, h2,.site-title,.entry-title, h3, h4, h5, h6, p,p.site-description, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, .site-info .menu-item, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
    @include main_font_styles();
}
.post-navigation{
    .nav-next, .nav-previous{
        a:hover .post-title, .post-title{
            //@include main_font_styles();
        }
    }
}  
    


@media
screen and (min-width: 38.75em),
screen and (min-width: 46.25em),
screen and (min-width: 55em),
screen and (min-width: 59.6875em),
screen and (min-width: 68.75em),
screen and (min-width: 77.5em){ @include reset_media_queries;}


body, body:before{ background-color: $backgroundcolor;}
body:before{
    box-shadow: none!important;
    width: 25%;
}
h1.site-title{
    line-height: auto;
}

h1.site-title, h2.entry-title, .posted-on, p.site-description { font-style: italic; }
h1.site-title, article img{ margin-bottom: $basic_margin; }

.site-description::before, .cat-title::before, .tag-title::before{ display:block; content: "__"; }


.navigation{
    span:nth-child(2),span:first-child{ margin-right: 10px;}
}
i.material-icons{ vertical-align: bottom; }

.entry-header, .sidebar-entry-content,.navigation,.single-navigation{
    *::before{ display: none; }
    .cat-links, span.tags-links{ display: block; }
}


body{
    *{box-shadow: none;}
    .tags-links{ @include boxed_text(); }
    .cat-links{ text-transform: uppercase;}
    .pages{ @include boxed_text_b(); }
    h1.site-title,.posted-on, h2.entry-title, span.tags-links,.cat-links,.page-numbers, .secondary, .prev_link, .next_link {
        a:hover{ color:$highlighted; }
    }
    .sidebar{
        header{
            .site-title,.site-description{ display: inline-block; }
            //button.secondary-toggle{ border:none; }  
        }
        .secondary{
            margin: 0; padding: 0;
            //.search-field{ background-color: inherit; }
            //.post_tags{ a{ display: inline-block;  margin-right: .2em; } }
            //.social-navigation a{ height: 1em; width: 1em; }
            //.post_tags, .main-navigation, .social-navigation{ margin: 0 20% 7.5% 20%; }
        }
    }
    .pagination, .single-navigation{
        //position: fixed;
        //top:0; left:0;
        //padding-left: 25%; width: 100%;
        background-color: $backNavColor;
        z-index: 10;
        span{
            //line-height: 1;
            padding: 20px 0;
            display: inline-block;
        }
        .posted-on{ margin: 0 1em;}

        
        .nav-links{
            text-align: left;
            .next_link{ margin-left: 20px; }
            .pages{ margin: 0;}
            .prev_link{ margin-right: 20px; }
            .next_link,.pages,.prev_link{
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                .page-numbers{
                    margin:0 10px 0 0; padding: 0;
                }
                .page-numbers:last-child{
                    margin: 0;
                }
            }



            @media screen and (max-width: 59.6875em){
                .next_link,.pages,.prev_link{
                    width: 30%;
                    margin: 0 1.6666%;
                    border-top: 1px solid $highlighted;
                    padding: 1em 0 0 0;
                    a, span{
                        vertical-align: top;
                    }
                }
            }

        }
    }
    #primary.content-area{
        /*
        margin-top: 6%;
        article.hentry{
            padding: 0;
            background-color: transparent;
            margin-bottom: $basic_margin*4;
            .entry-header, .sidebar-entry-content{
                padding: 0;
                *{ margin-top: 0px; line-height: 2.5;}
                h2.entry-title{ display: inline-block; }
                .cat-links a{ margin-right: .25em;}
            }
        }
        */
    }
    .site-footer{
        background-color: transparent;
        .site-info{ padding: 5em 0; }
    }
}
body.blog{
    article.hentry:hover{
        img{
            //opacity: .5;
        }
    }
}
body.single-post{
    .sidebar-entry-content{
        
    }
    article.hentry{

    }
    .post-navigation{
        border-top:none;
        margin:0;
        .nav-links{
            i.material-icons{ vertical-align: bottom; }

            div:first-child{
                border-bottom: 1px solid $linescolor; 
                padding-bottom: 5%;
            }

            div:nth-child(2){ padding-top: 5%; }
            .nav-previous{ i.material-icons{ margin-right: 0.25em; } }
            .nav-next{ i.material-icons{ margin-left: 0.25em; } }

            .nav-previous, .nav-next{
                background-image: none;
                .meta-nav{ text-transform: capitalize; }
                a:before { background-color: transparent; }
                a{padding: 0;}
            }


            @media screen and (max-width: 59.6875em){
                div:first-child{
                    border-bottom: none; 
                    padding-bottom: 0;
                    margin-right: 3%;
                }
                div:nth-child(2){
                    padding-top: 0;
                    margin-left: 3%;
                }
                .nav-previous, .nav-next{
                    border-top: 1px solid $highlighted;
                    padding: 0;
                    width: 47%;
                    float: left;
                    a{
                        padding: 1em 0 0 0;
                    }
                }
            }  
        }
    }
}




@media screen and (min-width: 38.75em){
    body{#page{.sidebar{.secondary{.main-navigation ul{ border: none;} } } } }
    //body.blog, body.archive{#page{ #content.site-content{ max-width: 700px; } } } 
}//<-- @media screen and (min-width: 38.75em)

@media screen and (min-width: 59.6876em){
    body{
        #page{
            max-width: none;
            #sidebar, div.custom-column{margin-top: 2%;}

            
            .sidebar{
                width: 25%;
                .site-header, .sidebar-entry-content{margin: 0 0 7.5% 0;}
                .sidebar-entry-content{ padding: 0 20%; }
            }
            .site-content, .site-footer{
                margin-left: 25%;
                .site-main{padding: 0;}
            }
            nav.navigation{ box-shadow: none; }
            #content.site-content{}
            .site-footer{}
        }
    } 
}//<-- @media screen and (min-width: 59.6876em)
/*
.main-navigation .nav-menu li{
    border:none;
}
.main-navigation .nav-menu li.current-menu-item a{
    @include current_item();
}
.entry-title{ display: inline-block;}
.entry-title, h1.entry-title, .posted-on, .byline, .tags-links{
    margin-right: .5em;
    display: inline-block;
}
*/
/*
// mobile
@media screen and (max-width: 59.6875em){
    body{
        #page{
            .site-branding{
                padding-right: 0;
                padding-left: 60px;
                .secondary-toggle{ left:0;}
            }
            nav.navigation{box-shadow: none;}
            .sidebar{
                .site-header{ border-bottom: none;}
                .secondary{
                    padding-top: 5%;
                    background-color: $highligted;
                    margin: 0;
                    .main-navigation ul{
                        border-bottom: none;
                        li{ border:none;} 
                    }                    
                    .social-navigation a{
                        height: 1em; width: 1em;
                    }
                    .post_tags, .main-navigation, .social-navigation{
                        margin: 0 ;
                        padding: 2% 7.6923%;
                    }
                    .widget_search{
                        margin: (7.6923/2)% 7.6923% 7.6923% 7.6923%;
                        width: auto;
                    }
                }
            }
            .site-content, .site-footer{
                margin: 0;
                padding: 7.6923%;
                width:100%;
                ul{
                    list-style: none;
                    margin: 0;
                }
            }
        } 
    }
}*/